<!-- Muokkaa-nappia painettaessa avautuu muokkauslomake-->
<div *ngIf="editmode === true">
  <div class="topmargin">
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
      <label>Nimi:</label><br />
      <input type="text" name="name" [(ngModel)]="name" ngModel /><br />
      <label>Email:</label><br />
      <input type="text" name="email" [(ngModel)]="email" ngModel /><br />
      <input type="hidden" name="id" [(ngModel)]="id" ngModel />
      <button class="topmargin" type="submit">Lähetä</button>
    </form>
  </div>
</div>

<!-- *ngFor on iteraatiodirektiivi joka toistaa sitä elementtiä
jonka sisällä se on -->
<div *ngFor="let c of contacts">
  <div class="contact">
    <p>
      {{ c.name }} - {{ c.email }} <a (click)="edit(c)">Muokkaa</a>&nbsp;<a
        (click)="remove(c)"
        >Poista</a
      >
    </p>
  </div>
</div>
